@tailwind base;
@tailwind components;
@tailwind utilities;

.rain-bg {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

.wind-bg {
  background: hsla(339, 100%, 55%, 1);

  background: linear-gradient(
    90deg,
    hsla(339, 100%, 55%, 1) 0%,
    hsla(197, 100%, 64%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(339, 100%, 55%, 1) 0%,
    hsla(197, 100%, 64%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(339, 100%, 55%, 1) 0%,
    hsla(197, 100%, 64%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FF1B6B", endColorstr="#45CAFF", GradientType=1 );
}

.temperature-bg {
  background: hsla(333, 100%, 53%, 1);

  background: linear-gradient(
    90deg,
    hsla(333, 100%, 53%, 1) 0%,
    hsla(33, 94%, 57%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(333, 100%, 53%, 1) 0%,
    hsla(33, 94%, 57%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(333, 100%, 53%, 1) 0%,
    hsla(33, 94%, 57%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FF0F7B", endColorstr="#F89B29", GradientType=1 );
}

.humidity-bg {
  background: hsla(141, 54%, 86%, 1);

  background: linear-gradient(
    90deg,
    hsla(141, 54%, 86%, 1) 0%,
    hsla(333, 73%, 85%, 1) 50%,
    hsla(211, 58%, 79%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(141, 54%, 86%, 1) 0%,
    hsla(333, 73%, 85%, 1) 50%,
    hsla(211, 58%, 79%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(141, 54%, 86%, 1) 0%,
    hsla(333, 73%, 85%, 1) 50%,
    hsla(211, 58%, 79%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#CAEFD7", endColorstr="#F5BFD7", GradientType=1 );
}

.main-bg {
  background: hsla(171, 87%, 67%, 1);

  background: linear-gradient(
    90deg,
    hsla(171, 87%, 67%, 1) 0%,
    hsla(236, 100%, 72%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(171, 87%, 67%, 1) 0%,
    hsla(236, 100%, 72%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(171, 87%, 67%, 1) 0%,
    hsla(236, 100%, 72%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#61F4DE", endColorstr="#6E78FF", GradientType=1 );
}

.btn-bg {
  background: hsla(58, 77%, 50%, 1);

  background: linear-gradient(
    90deg,
    hsla(58, 77%, 50%, 1) 0%,
    hsla(281, 95%, 52%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(58, 77%, 50%, 1) 0%,
    hsla(281, 95%, 52%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(58, 77%, 50%, 1) 0%,
    hsla(281, 95%, 52%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#E2DB1F", endColorstr="#AE10F9", GradientType=1 );
}
